# Archivos y directorios de desarrollo
__pycache__
*.pyc
*.pyo
*.pyd
.Python

env/
venv/
.venv/
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
log/
logs/

# Archivos de proyecto
.git
.gitignore
README.md

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.bak
*.swp


#carpeta test
test/
